<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtyu.dao.UserDao">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->
	<resultMap id="BaseResultMap" type="com.mtyu.pojo.User">
		<id column="userid" property="userId" jdbcType="INTEGER" />
		<result column="username" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 取得记录的总数 -->
	<select id="getUserCount" parameterType="java.util.Map" resultType="long">
		SELECT COUNT(1) FROM t_user  WHERE 1=1 
		<if test="userId != null and userId != ''">
			and userid = #{userId}
		</if>
		<if test="userName != null">
			and username like "%"#{userName}"%"
		</if>
		<if test="password != null and password != ''">
			and password = #{password,jdbcType=VARCHAR}
		</if>
		<if test="age != null and age != ''">
			and age = #{age,jdbcType=INTEGER}
		</if>
		<if test="sex != null and sex != ''">
			and sex = #{sex,jdbcType=VARCHAR}
		</if>
	</select>
	<!-- 分页查询用户 -->
	<select id="selectUserByPage" resultMap="BaseResultMap">
		select * from t_user where 1=1
		<if test="user.userName != null">
			and username = #{user.userName,jdbcType=VARCHAR}
		</if>
		<if test="user.age != null">
			and age = #{user.age,jdbcType=INTEGER}
		</if>
		<if test="user.sex != null">
			and sex = #{user.sex,jdbcType=VARCHAR}
		</if>
	</select>
	<!-- 查询所有记录 -->
	<select id="getUserList" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from t_user where 1=1
		<if test="userName != null and userName != ''">
			and username = #{userName,jdbcType=VARCHAR}
		</if>
		order by userid
	</select>
	<!-- 查询单条记录 -->
	<select id="getUserById" parameterType="int" resultMap="BaseResultMap">
		select
		t.userid,t.username,t.password,t.age,t.sex from t_user t where
		t.userid= #{userId}
	</select>
	<!-- 新增用户 -->
	<insert id="addUser" parameterType="com.mtyu.pojo.User"
		useGeneratedKeys="true" keyProperty="userId">
		insert into
		t_user(userid,username,password,age,sex)
		values(#{userId},#{userName},#{password},#{age},#{sex})
	</insert>
	<!-- 修改用户 -->
	<update id="editUser" parameterType="com.mtyu.pojo.User">
		update t_user
		<set>
			<if test="userName != null">username=#{userName},</if>
			<if test="password != null">password=#{password},</if>
			<if test="age != null">age=#{age},</if>
			<if test="sex != null">sex=#{sex}</if>
		</set>
		where t.userid=#{userId}
	</update>
	<!-- 删除用户 -->
	<delete id="delUser" parameterType="com.mtyu.pojo.User">
		delete from t_user WHERE
		userid=#{userId}
	</delete>
</mapper>  